.element__like-counter {
  margin: 0;
  padding: 0;
  max-width: 42px;
  color: #000;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
