.profile__info {
  position: sticky;
  left: 27px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  align-items: center;
}

@media screen and (max-width: 635px) {
  .profile__info {
    position: static;
    max-width: 282px;
    flex-direction: column;
    row-gap: 26px;
    align-items: normal;
  }
}
