.popup__close-icon {
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  width: 32px;
  height: 32px;
  left: calc(100% + 8px);
  bottom: calc(100% + 8px);
  cursor: pointer;
  background: url(../../../images/close-icon.svg) transparent no-repeat;
  background-size: contain;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 635px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    left: calc(100% - 20px);
    bottom: calc(100% + 16px);
  }
}
