.profile__edit-button {
  grid-area: name-edit-button;
  margin: 0;
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url(../../../images/edit-button.svg) transparent no-repeat;
  background-size: contain;
  justify-self: end;
  position: relative;
  left: 42px;
  }

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 934px) and (min-width: 635px) {
  .profile__edit-button {
    left: 35px;
    width: 21px;
    height: 21px;
  }
}

@media screen and (max-width: 635px) {
  .profile__edit-button {
    left: -19px;
    width: 18px;
    height: 18px;
  }
}
