.popup__container_place-confirmation {
  margin: 270px auto auto;
  min-height: 181px;
}

@media screen and (max-width: 635px) {
  .popup__container_place-confirmation {
    margin: 200px auto auto;
    min-height: 143px;
  }
}
