.auth-page__input {
  margin: 0 0 30px;
  padding: 0 0 5px 0;
  min-width: 358px;
  min-height: 27px;
  color: #FFF;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 2px solid #CCC;
  background: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}

.auth-page__input::placeholder {
  color: #CCC;
}

@media screen and (max-width: 635px) {
  .auth-page__input {
    min-width: 260px;
  }
}

