.popup__container {
  position: relative;
  margin: auto;
  background-color: #FFF;
  max-width: 430px;
  min-height: 330px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 635px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
  }
}
