.header__signout-link {
  display: none;
  margin: 7px 0 0 0;
  padding: 0;
  text-decoration: none;
  height: min-content;
  color: #A9A9A9;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.header__signout-link:hover {
  opacity: 0.6;
}
