.header {
  max-width: 880px;
  min-height: 73px;
  margin: 0 auto 40px;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 635px) {
  .header {
    max-width: 635px;
    min-height: 55px;
    margin: 0 0 42px;
    padding-top: 28px;
  }
}
